<section>
    <div class="footer-links">
        <a href="https://t.me/grand2crepe" target="_blank">
            <mat-icon style="color: #56bde2"> telegram </mat-icon>
        </a>
        <a href="https://www.instagram.com/grand.crepe/" target="_blank">
            <mat-icon>
                <i class="fab fa-instagram"></i>
            </mat-icon>
        </a>
        <a href="https://www.facebook.com/grandcrepe1/" target="_blank">
            <mat-icon style="color: #3b5998"> facebook </mat-icon>
        </a>
        <a href="https://www.google.com/maps/place/33%C2%B023'54.4%22N+44%C2%B024'07.0%22E/@33.3984489,44.3997583,17z/data=!3m1!4b1!4m5!3m4!1s0x0:0x0!8m2!3d33.3984489!4d44.401947?hl=en&shorturl=1" target="_blank">
            <mat-icon> place </mat-icon>
        </a>
    </div>
    <div class="footer-content">
        <p>2021 #CopyRight; <span> A.Lotfy & Rowan </span> اعادة تصميم و تطوير</p>
    </div>
</section>