<mat-card class="rightSide">
    <a class="ahref" routerLink="/categoryDetails/%3FcategoryTitle%3D%60وجبات%20الكريب%60" routerLinkActive="class1">
    وجبات الكريب
  </a>

    <br />
    <a class="ahref" routerLink="/categoryDetails/%3FcategoryTitle%3D%60وجبات%20الوافل%60" routerLinkActive="class1">وجبات الوافل</a
  >
  <br />
  <a
    class="ahref"
    routerLink="/categoryDetails/%3FcategoryTitle%3D%60تسونامي%20كراند%60"
    routerLinkActive="class1"
    >تسونامي كراند</a
  >
  <br />

  <a class="ahref" routerLink="/asdasd" routerLinkActive="class1">اللقيمات</a>
    <br />
    <a class="ahref" routerLink="/asdaddd" routerLinkActive="class1">بان كيك</a>
    <br />
    <a class="ahref" routerLink="/aas" routerLinkActive="class1">معجبنات</a>
    <br />
    <a class="ahref" routerLink="/ss" routerLinkActive="class1">مبني بان كيك</a>
    <br />
    <a class="ahref" routerLink="/dasd" routerLinkActive="class1">الخشخش</a>
    <br />
    <a class="ahref" routerLink="/sada" routerLinkActive="class1">اطباق العيد</a>
</mat-card>