<mat-card class="rightSide">
    <a class="ahref" routerLink="/categoryDetails/crepe" routerLinkActive="class1">
    وجبات الكريب
  </a>

    <br />
    <a class="ahref" routerLink="/categoryDetails/waffel" routerLinkActive="class1">وجبات الوافل</a
  >
  <br />
  <a
    class="ahref"
    routerLink="/categoryDetails/tusnami"
    routerLinkActive="class1"
    >تسونامي كراند</a
  >
  <br />

  <a
    class="ahref"
    routerLink="/categoryDetails/lokaymat"
    routerLinkActive="class1"
    >اللقيمات</a
  >
  <br />
  <a
    class="ahref"
    routerLink="/categoryDetails/pancake"
    routerLinkActive="class1"
    >بان كيك</a
  >
  <br />
  <a
    class="ahref"
    routerLink="/categoryDetails/mo3gnat"
    routerLinkActive="class1"
    >معجبنات</a
  >
  <br />
  <a class="ahref" routerLink="/categoryDetails/eid" routerLinkActive="class1"
    >اطباق العيد</a
  >
</mat-card>