<mat-card class="rightSide">
    <button mat-flat-button>وجبات الكريب</button>
    <br />
    <button mat-flat-button>وجبات الوافل</button>
    <br />
    <button mat-flat-button>تسونامي كراند</button>
    <br />
    <button mat-flat-button>اللقيمات</button>
    <br />
    <button mat-flat-button>بان كيك</button>
    <br />
    <button mat-flat-button>معجبنات</button>
    <br />
    <button mat-flat-button>مبني بان كيك</button>
    <br />
    <button mat-flat-button>الخشخش</button>
    <br />
    <button mat-flat-button>اطباق العيد</button>
</mat-card>