main {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 2fr);
    gap: 10px;
    justify-items: stretch;
}

a {
    text-decoration: none;
}

.menu-content {
    cursor: pointer;
    width: 400px;
    margin: auto;
}

.menu-content mat-card img {
    height: 350px;
}

.menu-content mat-card mat-card-actions {
    text-align: right;
    font-size: 18px;
    height: 16px;
    line-height: 0px;
    font-weight: bolder;
}