main{
  width:100%;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap:15px;
  margin-bottom:5px;
  padding:5px;
}
img{
  height:200px;
  width:100%;
}
p{
  padding: 0px;
  margin: 0px;
}

.content .card{
  cursor: pointer;
  min-width:200px;
  max-width: 300px;
  margin: 0px auto;
  border-radius: 5px;
  background-color: white;
  font-size: 18px;
}
.card-cnt{
  position: relative;
}
.card-cnt .card-wishlist{
  position: absolute;
  top:10px;
  right:10px;
  color:#FB5353;
  background-color: rgba(255, 255, 255, 0.76);
  border-radius: 100%;
  padding: 3px;
}
.c{
  background-color: white;
}
.card-title{
  text-align: right;
  padding: 10px;
}

.card-body{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
}
.card-body button{
  border-radius: 20px;
  margin:5px;
  color:#f5790c;
  background-color: white;
  border:2px solid rgb(209, 202, 202);
}
.card-body button:hover{
  cursor: pointer;
  border:2px solid #f5790c;
}
.card-body button p{
  display: inline-block;
  font-size: 18px;
  padding: 5px;
}
.card-body button mat-icon .material-icons{
  font-size: 18px;
}

